@let power = powerFormSchema$();
@let selectedCredentialType = selectedCredentialType$();

<h1>Form page</h1>

<!-- CREDENTIAL TYPE SELECTOR -->
<mat-form-field appearance="fill">
  <mat-label>Selecciona tipus de credencial</mat-label>
  <mat-select 
    #select
    [value]="selectedCredentialType" 
    (selectionChange)="onSelectionChange($event.value, select)">
    <mat-option 
      *ngFor="let credentialType of credentialTypesArr" 
      [value]="credentialType">
      {{ credentialType }}
    </mat-option>
  </mat-select>
</mat-form-field>

@if(selectedCredentialType === 'LEARCredentialMachine'){
<!-- KEY-GENERATOR -->
  <app-key-generator (updateKeys)="updateKeys($event)"></app-key-generator>
}
<!-- MAIN FORM -->
@let credentialFormSchema = credentialFormSchema$();
 @if (credentialFormSchema && form) {
      <form [formGroup]="form!" (ngSubmit)="onSubmit()">
        <!--  todo traslladar lògica al builder? -->
        @for (field of credentialFormSchema; track field.key) {
          @if(asSigner || (!asSigner && field.display !== 'pref_side')){
            @if(field.type === 'group'){
              <div [class]="field.classes">{{field.key}}</div>
              @for(subfield of field.groupFields; track subfield.key){
                <app-dynamic-field [fieldName$]="subfield.key" [fieldSchema$]="subfield" [abstractControl$]="form!.get(field.key)!"></app-dynamic-field>
              }
            }
          }
        }
        <!-- POWER FORM -->
         @if(power){
           <app-power-two [powersInput]="power.power" (formChanges)="updatePowers($event)"></app-power-two>
         }

        <!-- <button type="submit" [disabled]="!isGlobalValid$()">Submit</button> -->
        <!-- todo restore disabled -->
        <button type="submit">Submit</button>
      </form>
    }

    <!-- SIDE CARD -->
     @if(!asSigner){
       @for(data of staticData$() | keyvalue; track $index){
        <div>{{data.key}}</div>
        @for(fields of data.value | keyvalue; track $index){
          <div>{{fields.key}}</div>
          <div>{{fields.value}}</div>
        }
       }
     }

