@let power = powerFormSchema$();
@let selectedCredentialType = selectedCredentialType$();

<div class="page-container">
  <!-- todo title -->
  <h1>Form page</h1> 
  <div class="main-container">
    <!-- DYNAMIC CONTAINER (LEFT SIDE)-->
    <div class="dynamic-container">
      <div class="type-selector-container">
        <!-- CREDENTIAL TYPE SELECTOR -->
        <mat-form-field appearance="fill">
          <mat-label>Selecciona tipus de credencial</mat-label>
          <mat-select 
            #select
            [value]="selectedCredentialType" 
            (selectionChange)="onSelectionChange($event.value, select)">
            <mat-option 
              *ngFor="let credentialType of credentialTypesArr" 
              [value]="credentialType">
              {{ credentialType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="credential-data-container">
        <div class="keys-container">
          @if(selectedCredentialType === 'LEARCredentialMachine'){
          <!-- KEY-GENERATOR -->
            <app-key-generator (updateKeys)="updateKeys($event)"></app-key-generator>
          }
        </div>
        <div class="form-container">
          <!-- MAIN FORM -->
          @let credentialFormSchema = credentialFormSchema$();
          @if (credentialFormSchema && form) {
                <form [formGroup]="form!" (ngSubmit)="onSubmit()">
                  <!--  todo traslladar lògica al builder? -->
                  @for (field of credentialFormSchema; track field.key) {
                    @if(asSigner || (!asSigner && field.display !== 'pref_side')){
                      @if(field.type === 'group'){
                        <div [class]="field.classes">{{field.key}}</div>
                        @for(subfield of field.groupFields; track subfield.key){
                          <app-dynamic-field [fieldName$]="subfield.key" [fieldSchema$]="subfield" [abstractControl$]="form!.get(field.key)!"></app-dynamic-field>
                        }
                      }
                    }
                  }
  
                  <!-- <button type="submit" [disabled]="!isGlobalValid$()">Submit</button> -->
                  <!-- todo restore disabled -->
                  <button type="submit">Submit</button>
                </form>
              }
        </div>
        <div class="power-container">
          <!-- POWER FORM -->
          @if(power){
            <app-power-two [powersInput]="power.power" (formChanges)="updatePowers($event)"></app-power-two>
          }
        </div>
      </div>
    </div>
    <div class="static-container">
      <!-- STATIC COTNAINER (RIGHT SIDE)-->
      @if(!asSigner){
        @for(data of staticData$() | keyvalue; track $index){
          <div>{{data.key}}</div>
          @for(fields of data.value | keyvalue; track $index){
            <div>{{fields.key}}</div>
            <div>{{fields.value}}</div>
          }
        }
      }
    </div>
  </div>
</div>

