@let power = power$();

<h1>Form page</h1>

<!-- CREDENTIAL TYPE SELECTOR -->
<mat-form-field appearance="fill">
  <mat-label>Selecciona tipus de credencial</mat-label>
  <mat-select 
    #select
    [value]="selectedCredentialType$()" 
    (selectionChange)="onSelectionChange($event.value, select)">
    <mat-option 
      *ngFor="let credentialType of credentialTypesArr" 
      [value]="credentialType">
      {{ credentialType }}
    </mat-option>
  </mat-select>
</mat-form-field>

@if(selectedCredentialType$() === 'LEARCredentialMachine'){
<!-- KEY-GENERATOR -->
  <app-key-generator (updateKeys)="updateKeys($event)"></app-key-generator>
}
<!-- MAIN FORM -->
@let credentialFormSchema = credentialFormSchema$();
 @if (credentialFormSchema && form) {
      <form [formGroup]="form!" (ngSubmit)="onSubmit()">
        @for (field of credentialFormSchema$() | keyvalue; track field.key) {
          @if(field.value.type === 'group' && !field.value.ignore){
            <div>{{field.key}}</div>
            @for(subfield of field.value.groupFields | keyvalue; track $index){
              <app-dynamic-field [fieldName$]="subfield.key" [fieldSchema$]="subfield.value" [abstractControl$]="form!.get(field.key)!"></app-dynamic-field>
            }
          }
        }
        <!-- POWER FORM -->
         @if(power){
           <app-power-two [_selectablePowers$]="power.power"></app-power-two>
         }

        <!-- <button type="submit" [disabled]="isSubmitDisabled$()">Submit</button> -->
        <!-- todo restore disabled -->
        <button type="submit">Submit</button>
      </form>
    }

