@import "../../../../styles/variables";

// for width < 768px
:host{
  display:block;
  max-width:100%;

  *{
    outline: 1px solid black;
  }
}
::ng-deep {
  .cdk-overlay-pane{
  width:auto !important;
}

//disabled input
.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input{
  color: rgba(0, 0, 0, .60);
}
//disabled label
.mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label, .mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label--float-above{
  color: rgba(0, 0, 0, .5);
}
.phone .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
  top:36px ;

  &.mdc-floating-label--float-above{
    top:28px;
  }
}

.country{
  .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper{
    width:200px;
  }
}
} //ng-deep end

.page-container{
  padding: 50px 16px 24px 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width:100%;
}
.details-mandator-issuer{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 400px;
}
.mandatee-container {
  position: relative;

  mat-form-field {
    width: 100%;
  }
  .nationality {
    display: flex;
    flex-direction: column;
  }
}

@media(width > 768px){
  .page-container{
    max-width: 1000px;
    margin-inline: auto;
    padding: 50px 20px 30px 20px;
  }

  .main-container {
    flex-direction: row;
  }

  .dynamic-container {
    flex: 1 1 65%;

    mat-card{
      height: 100%;
    }

  }

  .mandator-container {
    display:flex;
    flex: 1 1 auto;
    flex-direction:column;
    max-width: 400px;
  }

}