@let fieldSchema = fieldSchema$();
@let fieldName = fieldName$();
@let controlSchema = controlSchema$();
@let groupSchema = groupSchema$();
@let control = childControl$();
@let group = childGroup$();

<div class="container">
  @if(parentFormGroup$() && fieldSchema) {
    <!-- CUSTOM (GROUP OR INDIVIDUAL CONTROL) -->
    @if(fieldSchema.custom){
      <ng-container *ngComponentOutlet="fieldSchema.custom.component; inputs: { form: group ?? control, data: fieldSchema.custom.data }"></ng-container>
    }@else{
      @if (groupSchema && groupSchema.groupFields && group) {
        <h2 [class]="fieldSchema.classes">{{ "credentialIssuance." + fieldSchema.key | translate | titlecase }}</h2>
        <!-- GROUPS -->
            @for (field of groupSchema.groupFields; track field.key) {
              <app-dynamic-field 
                [fieldName$]="field.key" 
                [fieldSchema$]="field" 
                [parentFormGroup$]="group">
              </app-dynamic-field>
            }
      } @else if(controlSchema){
        <!-- INDIVIDUAL CONTROLS -->
        <!-- Currently only text, number and select are included. If other input types are needed in the future, they can be added here or a
          custom component can be used -->
        @if(controlSchema?.hint){
          <div class="field-hint">
            {{ "credentialIssuance.hint." + controlSchema?.hint | translate }}
          </div>
        }
        <mat-form-field [formGroup]="parentFormGroup$()">
          <mat-label appAddAsterisk [formGroup]="parentFormGroup$()" [controlName]="fieldName">{{ "credentialIssuance." + fieldName | translate }}</mat-label>
          @let controlType = controlSchema.controlType;
          @if (controlType === 'number' || controlType === 'text') {
            <input matInput [type]="controlType" [formControlName]="fieldName" [id]="fieldName" [class]="fieldSchema.classes"/>
          }@else if(controlType === 'selector'){
              <mat-select [formControlName]="fieldName" [id]="fieldName" [class]="fieldSchema.classes">
                <mat-option [value]="" disabled>{{ "credentialIssuance.selectA" | translate }}{{ fieldName }}</mat-option>
                @for(option of controlSchema.multiOptions; track $index){
                  <mat-option [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                }
              </mat-select>
          }
          @if (control?.invalid && control?.touched) {
             <mat-error>{{getErrorMessage(control) | translate: getErrorsArgs(control) }}</mat-error>
          }
        </mat-form-field>
      }
    }
  }
</div>
