<h2 mat-dialog-title>{{ data.title }}</h2>

<div mat-dialog-content>
  <p>{{ data.message }}</p>

  <mat-checkbox 
    [checked]="checkboxChecked()"
    (change)="toggleCheckbox($event.checked)">
    {{ data.checkboxLabel }}
  </mat-checkbox>

  <p *ngIf="data.belowText" class="below-text">{{ data.belowText }}</p>
</div>

<div mat-dialog-actions >
  <button mat-button (click)="onCancel()">
    {{ data.cancelLabel || "Cancel" }}
  </button>
  <button mat-flat-button color="primary"
          [disabled]="!checkboxChecked()"
          (click)="onConfirm()">
    {{ data.confirmLabel || "Confirm" }}
  </button>
</div>
