<div>
  @if(dataSource && dataSource.data.length > 0){
    <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'credentialDetails.id' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Hash Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'credentialDetails.type' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Scope Column -->
      <ng-container matColumnDef="gx:digestSRI">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'credentialDetails.digestSri' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element['gx:digestSRI']}} </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  }@else {
    <div class="no-data">-</div>
  }
</div>
