<div class="power-container">
  <!-- Power Selector Section -->
  <h2 class="title">{{ 'power.power' | translate }}</h2>
  <div class="power-selector-section">
    <!-- Domain & Function titles -->
    <div class="domain-function">
      <h3 class="domain-title first-col">{{ "power.domain" | translate }}</h3>
      <h3>{{ "power.function" | translate }}</h3>
    </div>
    <!-- Selector container-->
    <div class="selector-container">
      <!-- Domain (at the moment there is only DOME) -->
      <p class="dome first-col">{{ sysTenant }}</p>
      <!--  Selector -->
      <mat-form-field  appearance="fill">
        <mat-label>{{ 'power.select' | translate }}</mat-label>
        <mat-select [(value)]="selectedPower">
          <mat-select-trigger>
            @if (selectedPower) {
              <span>{{ ("power." + selectedPower.function.toLocaleLowerCase()) | translate }}</span>
            }
          </mat-select-trigger>
          @for (power of selectorPowers; track power.function) {
            <mat-option 
              [value]="power"
              [disabled]="power.isDisabled">
              {{ ("power." + power.function.toLocaleLowerCase() | translate) }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- Add button -->
      <button 
        mat-raised-button 
        color="primary"
        type="button"
        [disabled]="!selectedPower || selectedPower.isDisabled"
        (click)="addPower(selectedPower!.function)">
        {{ 'power.add' | translate }}
      </button>
    </div>
  </div>


  <!-- Added powers Section -->
  @if (form().controls | keyvalue) {
    <div class="added-powers-section">     
      <form [formGroup]="form()" class="powers-form" novalidate>
        @for (powerControl of form().controls | keyvalue: keepOrder; track powerControl.key) {
            <p>{{ ( "power." + powerControl.key.toLocaleLowerCase()| translate) }}</p>
            <div class="functions-container" [formGroupName]="powerControl.key">
              <!-- Actions Toggle Section -->
                <div class="toggles-container">
                  @for (actionControl of getFormGroup(powerControl.value).controls | keyvalue; track actionControl.key) {
                      <mat-slide-toggle 
                        [formControlName]="actionControl.key"
                        color="primary">
                        {{ ( "power." +  actionControl.key.toLocaleLowerCase() | translate )}}
                      </mat-slide-toggle>
                  }
                </div>
            </div>
            <button 
              type="button"
              mat-mini-fab 
              class="small-icon-button delete-power"
              color="warn"
              (click)="removePower(powerControl.key)"
              aria-label="Remove power">
              <mat-icon class="remove-icon">delete</mat-icon>
            </button>
        }
      </form>
    </div>
  }

  <div>
    @if(form().hasError('noPower')){
      <div class="bottom-alert">{{ "error.form.no_power" | translate }}</div>
    }@else if(form().hasError('noActionPerPower')){
      <div class="bottom-alert">{{ "error.form.no_function" | translate }}</div>
    }
  </div>

</div>