<button type="button" [routerLink]="['/organization/credentials']" class="back-button" aria-label="Back to credentials">
  <mat-icon class="back-icon" fontIcon="arrow_back"></mat-icon>
</button>
<div class="page-container">
  <h1>{{ "credentialDetails.title" | translate | capitalize }}</h1>
  @if (credentialType$() && mainTemplateModel$() && sideTemplateModel$()){
    <!-- BASIC INFO -->
    <mat-card class="basic-actions-card">
      <mat-card-content class="basic-actions-container">
        <div class="basic-info-container">
          <h2>{{ "credentialDetails.basic_info" | translate | capitalize }}</h2>
          <div class="basic-info">
            <span><b>{{ credentialType$() }}</b></span>
            <span class="status-ellipse"               [ngClass]="{
              'status-valid': credentialStatus$() === 'VALID',
              'status-draft': credentialStatus$()  === 'DRAFT',
              'status-expired': credentialStatus$()  === 'EXPIRED',
              'status-default': credentialStatus$()  !== 'VALID' &&
              credentialStatus$()  !== 'DRAFT' &&
              credentialStatus$()  !== 'EXPIRED'
            }">{{ credentialStatus$() }}</span>
            <span><b>{{ "credentialDetails.valid_from" | translate | capitalize }}:</b> {{ credentialValidFrom$() | date: 'dd-MM-yyyy' }}</span>
            <span><b>{{ "credentialDetails.valid_until" | translate | capitalize }}:</b> {{ credentialValidUntil$() | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <!-- ACTIONS -->
         @if(showReminderButton$() || showSignCredentialButton$() ){
          <div class="actions-container">
              <h2>Actions</h2>
              <!-- BUTTONS -->
              <div class="buttons-container">
                @if (showReminderButton$()) {
                <div class="btn-reminder">
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    [disabled]="isLoading$|async"
                    (click)="openSendReminderDialog()"
                    >
                    {{ "credentialDetails.sendReminderConfirm.title" | translate }}
                  </button>
                </div>
              }
              @if (showSignCredentialButton$()) {
                <div class="btn-sign">
                  <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  (click)="openSignCredentialDialog()"
                  [disabled]="isLoading$|async"
                  >
                    {{ "credentialDetails.signCredentialConfirm.title" | translate }}
                  </button>
                </div>
              }
              </div>
            </div>
        }
     </mat-card-content>
    </mat-card>

    <!-- MAIN FORM -->
     <div>SIDE</div>
@if (sideTemplateModel$()) {
  @for (obj of sideTemplateModel$(); track $index) {
    @if (obj.custom) {
      <ng-template [cdkPortalOutlet]="obj.portal"></ng-template>
    }
    @else if (obj.type === 'key-value') {
      <div>{{ obj.key }}</div>
      <div>{{ obj.value }}</div>
    }
    <!-- GROUP -->
    @else { 
      <h2>{{obj.key}}</h2>
      @for (field of obj.value; track $index) {
        <!-- recursiu o almenys DRY -->
        @if (obj.custom) {
          <ng-template [cdkPortalOutlet]="obj.portal"></ng-template>
        }
        @else {
          <div>{{ field.key }}</div>
          <div>{{ field.value }}</div>
        }
      }
    }
  }
}

<div>MAIN</div>
@if (mainTemplateModel$()) {
  @for (obj of mainTemplateModel$(); track $index) {
    <!-- CUSTOM -->
    @if (obj.custom) {
      <ng-template [cdkPortalOutlet]="obj.portal"></ng-template>
    }@else if (obj.type === 'key-value') {
      <!-- KEY - VALUE -->
      <!-- POWER -->
      @if(obj.key === 'power'){
        @for(power of obj.value; track $index){
          <div>{{power.function}}</div>
          @for(action of power.actions; track $index){
            <mat-slide-toggle checked disabled>{{action}}</mat-slide-toggle>
          }
        }
      }@else {
        <div>{{ obj.key }}</div>
        <div>{{ obj.value }}</div>
      }
    }
    <!-- GROUP -->
    @else {
      <h2>{{obj.key}}</h2>
      @if (obj.custom) {
        <ng-template [cdkPortalOutlet]="obj.portal"></ng-template>
      }@else{
      <!-- recursiu o almenys DRY -->
      @for (field of obj.value; track $index) {
        @if(field.type === 'key-value'){
          <div>{{ field.key }}</div>
          <div>{{ field.value }}</div>
        }@else {
          @for(subfield of field.value; track $index){
            <div>{{ subfield.key }}</div>
            <div>{{ subfield.value }}</div>
          }
        }
      }
      }
    }
  }
}
    }
</div>