<button type="button" [routerLink]="['/organization/credentials']" class="back-button" aria-label="Back to credentials">
  <mat-icon class="back-icon" fontIcon="arrow_back"></mat-icon>
</button>
<div class="page-container">
  <h1>{{ "credentialDetails.title" | translate | capitalize }}</h1>
  @if (credentialType$() && mainTemplateModel$() && sideTemplateModel$()){
    <!-- BASIC INFO -->
    <mat-card class="basic-actions-card">
      <mat-card-content class="basic-actions-card-content">
        <div class="basic-actions-container flex-align-container">
          <div class="basic-info-container flex-align-main">
            <div class="basic-info">
              <span><b>{{ credentialType$() }}</b></span>
              <span class="status-ellipse" 
              [ngClass]="{
                'status-valid': credentialStatus$() === 'VALID',
                'status-draft': credentialStatus$()  === 'DRAFT',
                'status-expired': credentialStatus$()  === 'EXPIRED',
                'status-default': credentialStatus$()  !== 'VALID' &&
                credentialStatus$()  !== 'DRAFT' &&
                credentialStatus$()  !== 'EXPIRED'
              }">{{ credentialStatus$() }}</span>
              <span><b>{{ "credentialDetails.valid_from" | translate | capitalize }}:</b> {{ credentialValidFrom$() | date: 'dd-MM-yyyy' }}</span>
              <span><b>{{ "credentialDetails.valid_until" | translate | capitalize }}:</b> {{ credentialValidUntil$() | date: 'dd-MM-yyyy' }}</span>
            </div>
          </div>
          <!-- ACTIONS -->
          @if(showReminderButton$() || showSignCredentialButton$() ){
            <div class="actions-container side-flexing">
                <!-- BUTTONS -->
                <div class="buttons-container">
                  @if (showReminderButton$()) {
                  <div class="btn-reminder">
                    <button
                      type="button"
                      mat-raised-button
                      color="primary"
                      [disabled]="isLoading$|async"
                      (click)="openSendReminderDialog()"
                      >
                      {{ "credentialDetails.sendReminderConfirm.title" | translate }}
                    </button>
                  </div>
                }
                @if (showSignCredentialButton$()) {
                  <div class="btn-sign">
                    <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="openSignCredentialDialog()"
                    [disabled]="isLoading$|async"
                    >
                      {{ "credentialDetails.signCredentialConfirm.title" | translate }}
                    </button>
                  </div>
                }
                </div>
              </div>
        }
      </div>
     </mat-card-content>
    </mat-card>

    <div class="specific-details-container flex-align-container">
      <!-- MAIN CONTAINER -->
      <div class="main-container flex-align-main">
        <mat-card>
          <mat-card-content>
                @if (mainTemplateModel$()) {
                  @for (obj of mainTemplateModel$(); track $index) {
                    <!-- todo configure powers as custom field/ component to avoid this conditional -->
                    <!-- POWER -->
                    @if(obj.key === 'power'){
                      <h2>{{ "credentialDetails.power" | translate | capitalize }}</h2>
                      <div class="powers-container">
                      @for(power of obj.value; track $index){
                          <p>{{ power.function | capitalize  }}</p>
                          <div class="functions-container">
                            <div class="toggles-container">
                              @for(action of power.actions; track $index){
                                <mat-slide-toggle checked disabled>{{ action | capitalize}}</mat-slide-toggle>
                              }
                            </div>
                          </div>
                        }
                      </div>
                    }
                    <!-- NON-POWER GROUPS -->
                    <!-- todo consider recursive component, although not more than two sublevels are expected at the moment -->
                    @else {
                      @if(obj.key){
                        <h2>{{ obj.key | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
                      }
                      @if (obj.custom) {
                        <ng-template [cdkPortalOutlet]="obj.portal"></ng-template>
                      }@else{
                        @for (field of obj.value; track $index) {
                          @if(field.type === 'key-value'){
                          <mat-form-field appearance="fill" floatLabel="always">
                            @if(field.key){
                              <mat-label>{{ field.key | addPrefix: 'credentialDetails.' | translate | capitalize }}</mat-label>
                            }
                            <input matInput [value]="field.value" disabled/>
                          </mat-form-field>
                          }@else {
                            <h3>{{ field.key }}</h3>
                            @for(subfield of field.value; track $index){
                              <mat-form-field appearance="fill">
                                @if(subfield.key){
                                  <mat-label>{{ subfield.key }}</mat-label>
                                }
                                <input matInput [value]="subfield.value" disabled/>
                              </mat-form-field>
                            }
                          }
                        }
                      }
                    }
                  }
                }
          </mat-card-content>
        </mat-card>
      </div>
    <!-- END MAIN CONTAINER -->
    
    <!-- SIDE CONTAINER -->
     <!-- todo consider using ng-templates for DRY -->
     @if (showSideTemplateCard$()) {
    <div class="side-container">
        <div class="side-card side-flexing">
            @for (obj of sideTemplateModel$(); track $index) {
              @if(obj.key){
                <h2>{{ obj.key  | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
              }
              <mat-card-content>
                <!-- todo remove? --> 
                @if (obj.custom) {
                  <ng-template [cdkPortalOutlet]="obj.portal"></ng-template>
                }
                <!-- GROUP -->
                @else { 
                  @for (field of obj.value; track $index) {
                    @if (obj.custom) {
                      <ng-template [cdkPortalOutlet]="obj.portal"></ng-template>
                    }
                    @else {
                      <h3>{{ field.key   | addPrefix: 'credentialDetails.' | translate | capitalize }}</h3>
                      <p>{{ field.value }}</p>
                    }
                  }
                }
              </mat-card-content>
            }
          </div>
      </div>
        }
    </div>
    }
</div>