@use '@angular/material' as mat;
@use '../variables' as v;

// Deactivated theme, it is selected via configuration through THEME_NAME variable

// Main palette color, also used in other variables
$primary-color: #184bff;
// Used in navbar
$primary-contrast-color: #ffffff;
// Used in landing page buttons and as hover color in management table
$secondary-color: #00fe94;
$secondary-contrast-color: #000000;

@include mat.core();


//Palette for Angular Material components
$custom-palette: (
  50: #e5edf9,
  100: #cad9f3,
  200: #9cb8eb,
  300: #7097e2,
  400: #4a75d3,
  500: $primary-color,
  600: #25468b,
  700: #1d3673,
  800: #162a5b,
  900: #0f1d40,
  A100: #cad9f3,
  A200: #9cb8eb,
  A400: #4a75d3,
  A700: #1d3673,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);


$custom-primary: mat.m2-define-palette($custom-palette);
//todo: not clear what should be accent according to brand guidelines; not used currently
$custom-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-typography: mat.m2-define-typography-config($font-family: v.$font-stack);

$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
    use-system-variables: true
  ),
  typography: $custom-typography
));

//todo repassar si algun white es pot canviar per --secondary-contrast-custom-color
:root{
  --primary-custom-color: #{$primary-color};
  --primary-contrast-custom-color: #{$primary-contrast-color};
  --secondary-custom-color: #{$secondary-color};
  --secondary-contrast-custom-color: #{$secondary-contrast-color};

  --primary-custom-color-rgb: #{red($primary-color)} #{green($primary-color)} #{blue($primary-color)};
  
  //todo treure de root?
  @include mat.all-component-themes($custom-theme);
}