//DOME colors
$Blue: #B88EFF;
$Light-Blue-Primary: #76F276;
$Dark-Blue: #000000; //main footer
$Light-Blue-Secondary: #F9F3E7;
$White: #ffffff;

//App colors
$cancel: rgba(0, 0, 0, 0.12);

//Palette with DOME blue, used as primary palette in Angular Material components
$custom-palette: (
  50: #e5edf9,
  100: #d2bafd,
  200: #cdb1fd,
  300: #c09efc,
  400: #B88EFF,
  500: #bd9bf9,
  600: #ae80fc,
  700: #a06bfd,
  800: #9a5fff,
  900: #9050ff,
  A100: #cad9f3,
  A200: #9cb8eb,
  A400: #4a75d3,
  A700: #1d3673,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$font-stack: 'Blinker', 'Arial', sans-serif;