//Neutres reutilitzables
// home footer background color
$dark-color: #14274a;
// light background color for links and hover in footer
$white: #ffffff;
//Background color for cancel dialog (?)
//todo: revisar
$cancel: rgba(0, 0, 0, 0.12);

$font-stack: 'Blinker', 'Arial', sans-serif;