@use '@angular/material' as mat;
@use './variables';
@import './ng-material/ng-index.scss';
@import './status.scss';

@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600&display=swap");

@font-face {
  font-family: "Blinker";
  font-weight: 400;
  src: url("../assets/fonts/Blinker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Blinker";
  font-weight: 600;
  src: url("../assets/fonts/Blinker-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Blinker";
  font-weight: 700;
  src: url("../assets/fonts/Blinker-Bold.ttf") format("truetype");
}


html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $font-stack; //apply font stack to non-angular-material text
}

h1{
  margin: 0 0 16px;
}

p{
  margin: 0 0 12px;
}

.margin-top-none{
  margin-top:0px;
}

button, input, select, textarea {
  font-family: inherit;
}

.dense-1 {
  @include mat.all-component-densities(-3);
}

.ml-2{
  margin-left:2rem ;
}
