@let selectedCredentialType = selectedCredentialType$();
@let formSchema = formSchema$();
@let form = form$();

<div class="page-container">
  <h1>{{ "credentialIssuance.title" | translate }}</h1> 
  <div class="main-container">
    <!-- CREDENTIAL TYPE SELECTOR -->
    <mat-card class="type-selector-card">
      <mat-card-content>
        <div class="type-selector-container">
          <h2>{{ "credentialIssuance.select-type" | translate }}</h2>
          <mat-form-field appearance="fill">
            <mat-label>{{ "credentialIssuance.credentialType" | translate }}</mat-label>
            <mat-select 
              #select
              [value]="selectedCredentialType" 
              (selectionChange)="onTypeSelectionChange($event.value, select)">
              @for(credentialType of credentialTypesArr; track $index){
                <mat-option 
                  [value]="credentialType">
                  {{ credentialType }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        </mat-card-content>
    </mat-card>

    <!-- DATA CONTAINER -->
     @if(selectedCredentialType && formSchema && form){
       <div class="data-container">
         <!-- DYNAMIC CONTAINER (LEFT SIDE)-->
         <div class="dynamic-container">
           <mat-card>
             <mat-card-content>
               <!-- CREDENTIAL DATA CONTAINER -->
                 <div class="form-container">
                   <!-- MAIN FORM -->
                   @if (formSchema && form) {
                         <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                           @for (field of formSchema; track field.key) {
                                <app-dynamic-field [fieldName$]="field.key" [fieldSchema$]="field" [parentFormGroup$]="form!"></app-dynamic-field>
                           }
        
                           @if(bottomAlertMessages$().length > 0){
                            @for(msg of bottomAlertMessages$(); track msg){
                              <div class="missing-field-alert">{{ msg | translate }}</div>
                            }
                           }
                           
                           <!-- BUTTONS CONTAIBNER -->
                           <div class="buttons-container">
                             <button mat-flat-button type="submit">{{"credentialIssuance.cancel" | translate }}</button>
                             <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid$()">{{"credentialIssuance.create-credential" | translate }}</button>
                            </div>
                         </form>
                       }
                 </div>
             </mat-card-content>
           </mat-card>
         </div>
     
         <!-- STATIC CONTAINER (RIGHT SIDE)-->
         @if(staticData$()){
         <div class="static-container">
             @for(data of staticData$() | keyvalue; track data.key){
               <h2>{{ "credentialIssuance." + data.key | translate | titlecase }}</h2>
               @for(fields of data.value; track fields.key){
                 <h5>{{ "credentialIssuance." + fields.key | translate }}</h5>
                 <p>{{ fields.value || "-" }}</p>
               }
             }
           </div>
         }
       </div>
     }
  </div>
</div>

