@import "./../../../../../styles/variables";

// for width < 768px
:host{
  display:block;
  max-width:100%;
}
::ng-deep {
  .cdk-overlay-pane{
  width:auto !important;
  }

  //disabled input
  .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input{
    color: rgba(0, 0, 0, .60);
  }
  //disabled label
  .mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label, .mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label--float-above{
    color: rgba(0, 0, 0, .5);
  }
} //ng-deep end

.page-container{
  padding: 50px 16px 24px 16px;
}
.main-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.type-selector-card mat-card-content{
  padding-bottom: 0px;
}

.type-selector-container{
  h2{
    margin-top: 0px;
  }
}

mat-form-field.selector-field{
  width: 240px;
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items:stretch;
  max-width:100%;
}

.static-container{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0 16px;
  border-radius: 5px;
  background: var(--secondary-constrast-custom-color);
  box-shadow: 4px 4px 5px #cacaca, -4px -4px 5px #f6f6f6;

  h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom:0px;
    margin-top:0px;
  }
  p{
    margin-top:0px;
  }
  h2{
    margin-top: 16px;
  }

  mat-card {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-left: 0.5rem;
    text-align: start;
  }

}
.dynamic-container {
  position: relative;

  mat-form-field {
    width: 100%;
  }
  h2{
    margin-top: 0px;
  }
  app-dynamic-field{
    display: block;
    width: 100%;
  }
}

.keys-container{
  padding-bottom: 18px;
}

.missing-field-alert{
  padding-top: 20px;
  height: 32px;
  color: var(--primary-custom-color);
  font-style: italic;
}

.buttons-container{
  display: flex;
  gap: 12px;
  padding-top:12px;

  .mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled.cancel-button{
    background-color: rgb(var(--primary-custom-color-rgb) / 0.4);
    color: $white;
  }
}

@media(width > 768px){
  .page-container{
    max-width: 1000px;
    margin-inline: auto;
    padding: 50px 20px 30px 20px;
  }

  .data-container {
    flex-direction: row;
  }

  .dynamic-container {
    flex: 1 1 60%;
    min-width: 60%;

    mat-card{
      height: 100%;
    }

  }

  .static-container{
    width: fit-content;
    max-width: 300px;
  }

}