<div class="powers-container">
    @for(power of powers; track $index){
        <p>{{ ("power." + power.function.toLocaleLowerCase() | translate ) | capitalize  }}</p>
        <div class="functions-container">
            <div class="toggles-container">
                @for(action of power.actions; track $index){
                    <mat-slide-toggle checked disabled>{{ ("power." + action.toLocaleLowerCase() | translate ) | capitalize}}</mat-slide-toggle>
                }
            </div>
        </div>
    }
</div>
