@let displayedKeys = displayedKeys$();
<h2>{{ "keys.title" | translate }}</h2>
<div class="main-container">
    <button type="button" matButton mat-raised-button color="primary" class="generate-button" (click)="generateKeys()">{{ "keys.buttonText" | translate }}</button>
    @if(displayedKeys){
        <div class="keys-container">
            @for(key of displayedKeys| keyvalue; track $index){
                @if(key.value){
                    <div class="key-container">
                        <div>{{ key.value }}</div>
                            <button type="button" (click)="copyToClipboard(key.value!)" class="copy-button" [disabled]="copiedKey === key.value">
                                @if(copiedKey === key.value){
                                    <span>{{ "copied" | translate }}!</span>
                                }@else {
                                    {{ "copy" | translate }}
                                }
                            </button>
                    </div>
                    <div class="alert">{{ "keys.alert" | translate }}</div>
                }
            }
        </div>
    }
</div>
