@import "../../../styles/variables";

::ng-deep {
  mat-paginator {
    padding: 0;

    .mat-mdc-paginator-outer-container .mat-mdc-paginator-container {
      padding: 0;
    }
  }

  // COLUMN TITLE (bolder when column is selected)
  th:not([aria-sort="none"]) .mat-sort-header-content{
    font-weight: 900 !important;
  }
  th[aria-sort="none"]{

    .mat-sort-header-container:hover .mat-sort-header-content {
      font-weight: 900 !important;
    }
  }

  // COLUMN SORT ARROW
  .mat-sort-header-arrow {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }

  th[aria-sort="none"] .mat-sort-header-arrow {
    opacity: 0.5 !important;
  }

  th[aria-sort="none"] .mat-sort-header-container:hover .mat-sort-header-arrow {
    opacity: 0.8 !important;
    transform: translateY(-20%) !important;
  }


  // remove default A.M. behavior by which arrow is left pointing below when another column is selected
  th:not([aria-sort="descending"]) {
    .mat-sort-header-pointer-left {
      transform: rotate(-45deg) !important;
    }
    .mat-sort-header-pointer-right {
      transform: rotate(45deg) !important;
    }
    .mat-sort-header-indicator {
      transform: translateY(0) !important;
    }
  }

  .mat-sort-header-indicator,
  .mat-sort-header-pointer-left,
  .mat-sort-header-pointer-right,
  .mat-sort-header-stem {
    opacity: 1 !important;
    color: white !important;
  }
}

// LAYOUT AND TABLE
  .credential-management-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 75%;
    margin: auto;
    margin-block: 24px;
    border-radius: 5px;

    .title-container {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    .title-buttons{
      display: flex;
      gap: 12px;
      margin-left: auto;
      height: 44px; //matches search field

      button{
        &.create-button, &.admin-button{
          height: 100%;
        }

        &.admin-button{
          border-color: var(--primary-custom-color);
          color: var(--primary-custom-color);
        }
      }
    }

    th {
      background-color: var(--primary-custom-color);
      color: $white;
    }

    .table-container {
      width:auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }

    .mat-mdc-row{
      max-height:52px;
    }

    .table-row-odd {
      background-color: var(--secondary-constrast-custom-color);
    }

    .table-row-even {
      background-color: $white;
    }

    tr.mat-header-row {
      cursor: pointer;
      pointer-events: all;
    }

    tr.clickable-row {
      cursor: pointer;
      &:hover {
        background-color: var(--secondary-custom-color);
      }
    }

    tr.non-clickable-row {
      cursor: not-allowed;
      color: gray;
    }

  }

  .create-button {
    margin-left: auto;
  }

  .mat-column-subject {
    max-width: 200px;

    .subject-wrapper {
      height: 100%;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mat-column-credential_type {
    min-width: 165px;
    max-width: 165px;
  }

.table-frame{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 1rem;
  }

// STATUS STYLES
.status-ellipse {
  min-width: 110px;
}

.search-bar-container{
  display: flex;
  align-items: center;

  .toggle-searchbar-btn{
    margin-right: 10px;
  }

  .mat-mdc-button>.mat-icon{
    vertical-align: baseline;
  }

  .field-wrapper{
    height: 30px;
  }

}


//MEDIA QUERIES
@media(width < 1025px){
  .credential-management-container {
    width: 90%;

    .title-container{
      display: flex;
      flex-direction: column;
      justify-content: normal;
      gap: 12px;
    }
  }
}

@media(width < 768px){
  .mat-column-updated{
    min-width: 130px;
  }
}

@media(width < 590px){
  .credential-management-container {
    .title-container{
      min-width: 248px;
      .search-bar-container{
        order: 3;
        justify-content: end;
      }
      .title-buttons{
        margin: 0;
        flex-direction:column;
        justify-content: normal;
        gap: 8px;
        height: auto;
        width: 100%;
        button{
          height: 44px;
        }
      }
    }
    .table-container {
      width: 100% !important;
      max-width: 100% !important;
      overflow-x:auto;
      display: block;
    }
    .table-frame{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    .mat-column-full_name{
      max-width: 150px;

      .full-name-wrapper {
        max-width: 150px;
      }
    }
    ::ng-deep mat-paginator{
      margin-bottom: 24px;

      .mat-mdc-paginator-outer-container .mat-mdc-paginator-container{
        flex-direction: column-reverse;
      }
      .mat-mdc-paginator-page-size{
        margin: 0;
      }
    }
  }
}

@media(width < 400px){
  ::ng-deep mat-paginator{
    .mat-mdc-paginator-outer-container .mat-mdc-paginator-container .mat-mdc-paginator-range-actions {
        flex-wrap: wrap;
        align-items:stretch;
        justify-content: center;
        .mat-mdc-paginator-range-label{
          flex-basis:100%;
          text-align: center;
        }
      }
  }
}

